---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🙂 Hi!</h1>
			<p>
				Welcome to my website
			</p>
			<p>A bit about me:</p>
			<ul>
				<li>I am currently studying software engineering at Ostim Technical University</li>
				<li>I am interested in web and blockchain development</li>
				<li>I am a motivated learner and want to become a software engineer</li>
				<li>You can see my projects by looking at the projects sections</li>
			</ul>
			<p>If you want to reach me you can contact with me via Discord SuluKarpuz#9877</p>
		</main>
		<Footer />
	</body>
</html>
